<?xml version="1.0" encoding="utf-8"?>
<interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://zero-install.sourceforge.net/2004/injector/interface http://0install.de/schema/injector/interface/interface.xsd http://0install.de/schema/desktop-integration/capabilities http://0install.de/schema/desktop-integration/capabilities/capabilities.xsd" xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <name>Avidemux</name>
  <summary xml:lang="de">freier Video-Editor ausgelegt auf einfache Schneide-, Filter- und Encodier-Aufgaben</summary>
  <summary xml:lang="en">free video editor designed for simple cutting, filtering and encoding tasks</summary>
  <description xml:lang="de">Avidemux ist ein freier Video-Editor, ausgelegt auf einfache Schneide-, Filter- und Encodier-Aufgaben. Es unterstützt viele Dateitypen, inklusive AVI, DVD-kompatible MPEG-Dateien, MP4 und ASF mit einer Reihe von Codecs. Aufgaben können mittels Projekten, Auftrags-Schlangen und mächtigen Skripting-Fähigkeiten automatisiert werden.</description>
  <description xml:lang="en">Avidemux is a free video editor designed for simple cutting, filtering and encoding tasks. It supports many file types, including AVI, DVD compatible MPEG files, MP4 and ASF, using a variety of codecs. Tasks can be automated using projects, job queue and powerful scripting capabilities.</description>
  <homepage>http://avidemux.sourceforge.net/</homepage>
  <icon href="http://0install.de/feeds/images/Avidemux.png" type="image/png" />
  <icon href="http://0install.de/feeds/images/Avidemux.ico" type="image/vnd.microsoft.icon" />
  <category>AudioVideo</category>
  <category>Utility</category>
  <feed-for interface="http://0install.de/feeds/Avidemux.xml" />
  <group license="GPL v2 (GNU General Public License)" main="avidemux.exe">
    <implementation arch="Windows-x86_64" version="{version}" released="{released}" stability="stable">
      <manifest-digest />
      <archive href="http://downloads.sourceforge.net/avidemux/avidemux_{version}_win64.zip" type="application/zip" />
    </implementation>
    <implementation arch="Windows-i486" version="{version}" released="{released}" stability="stable">
      <manifest-digest />
      <archive href="http://downloads.sourceforge.net/avidemux/avidemux_{version}_win32.zip" type="application/zip" />
    </implementation>
  </group>
</interface>
