<?xml version="1.0" encoding="utf-8"?>
<interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://zero-install.sourceforge.net/2004/injector/interface http://0install.de/schema/injector/interface/interface.xsd http://0install.de/schema/desktop-integration/capabilities http://0install.de/schema/desktop-integration/capabilities/capabilities.xsd" xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <name>DC++</name>
  <summary xml:lang="en">client for the ADC file sharing protocol</summary>
  <summary xml:lang="de">Klient für das ADC Filesharing Protokol</summary>
  <description xml:lang="en">DC++ is a file sharing client using the ADC protocol. It also supports connecting to the Direct Connect network.</description>
  <description xml:lang="de">DC++ ist ein Filesharing Klient der das ADC Protokol verwendet. Es unterstützt auch Verbindungen mit dem Direct Connect Netzwerk.</description>
  <homepage>http://dcplusplus.sourceforge.net/</homepage>
  <icon href="http://0install.de/feeds/images/DCPlusPlus.png" type="image/png" />
  <icon href="http://0install.de/feeds/images/DCPlusPlus.ico" type="image/vnd.microsoft.icon" />
  <category>Network</category>
  <feed-for interface="http://0install.de/feeds/DCPlusPlus.xml" />
  <group if-0install-version="2.6.8.." arch="Windows-*" license="GPL v2 (GNU General Public License)" main="DCPlusPlus.exe">
    <implementation version="{version}" released="{released}" stability="stable">
      <manifest-digest />
      <archive href="http://downloads.sourceforge.net/dcplusplus/DCPlusPlus-{version}.zip" type="application/zip" />
    </implementation>
  </group>
</interface>
