<?xml version="1.0" encoding="utf-8"?>
<interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://zero-install.sourceforge.net/2004/injector/interface http://0install.de/schema/injector/interface/interface.xsd http://0install.de/schema/desktop-integration/capabilities http://0install.de/schema/desktop-integration/capabilities/capabilities.xsd" xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <name>Doxygen</name>
  <summary xml:lang="en">generate documentation from source code</summary>
  <homepage>http://www.stack.nl/~dimitri/doxygen/</homepage>
  <needs-terminal />
  <feed-for interface="http://0install.de/feeds/Doxygen.xml" />
  <group license="GPL v2 (GNU General Public License)">
    <command name="run" path="doxygen.exe" />
    <command name="doxyindexer" path="doxyindexer.exe" />
    <implementation arch="Windows-i486" stability="stable" version="{version}" released="{released}">
      <manifest-digest />
      <archive href="http://ftp.stack.nl/pub/users/dimitri/doxygen-{version}.windows.bin.zip" type="application/zip" />
    </implementation>
    <implementation arch="Windows-x86_64" stability="stable" version="{version}" released="{released}">
      <manifest-digest />
      <archive href="http://ftp.stack.nl/pub/users/dimitri/doxygen-{version}.windows.x64.bin.zip" type="application/zip" />
    </implementation>
  </group>
</interface>
