<?xml version="1.0" encoding="utf-8"?>
<interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://zero-install.sourceforge.net/2004/injector/interface http://0install.de/schema/injector/interface/interface.xsd http://0install.de/schema/desktop-integration/capabilities http://0install.de/schema/desktop-integration/capabilities/capabilities.xsd" xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <name>GitExtensions</name>
  <summary xml:lang="en">GitExtensions is a graphical interface for Git</summary>
  <summary xml:lang="de">GitExtensions ist eine grafische Oberfläche für Git</summary>
  <icon href="http://0install.de/feed-icons/GitExtensions.ico" type="image/vnd.microsoft.icon" />
  <icon href="http://0install.de/feed-icons/GitExtensions.png" type="image/png" />
  <category>Development</category>
  <homepage>https://github.com/gitextensions/gitextensions</homepage>
  <feed-for interface="http://0install.de/feeds/GitExtensions.xml" />
  <group>
    <requires interface="http://repo.roscidus.com/git/core">
      <environment name="GITEXT_GIT" insert="." mode="replace" />
    </requires>
    <requires os="Windows" interface="http://0install.de/feeds/PuTTY.xml" importance="recommended">
      <environment name="GITEXT_PUTTY" insert="." mode="replace" />
      <environment name="GITEXT_PLINK" insert="plink.exe" mode="replace" />
      <environment name="GITEXT_PUTTYGEN" insert="puttygen.exe" mode="replace" />
      <environment name="GITEXT_PAGEANT" insert="pageant.exe" mode="replace" />
    </requires>
    <requires os="Windows" interface="http://0install.de/feeds/NotepadPlusPlus.xml" importance="recommended">
      <environment name="EDITOR" value="notepad++ -multiInst -nosession" mode="replace" />
      <executable-in-path name="notepad++" />
    </requires>
    <command name="run" path="GitExtensions.exe">
      <runner interface="http://repo.roscidus.com/cli/cli" command="run-gui" />
    </command>
    <command name="translate" path="TranslateApp.exe">
      <runner interface="http://repo.roscidus.com/cli/cli" command="run-gui" />
    </command>
    <implementation arch="POSIX-*" version="{version}" released="{released}" stability="stable">
      <manifest-digest />
      <archive href="https://github.com/gitextensions/gitextensions/releases/download/v{version-tag}/GitExtensions-{version-build}-Mono.zip" type="application/zip" extract="GitExtensions" />
    </implementation>
    <implementation arch="Windows-*" version="{version}" released="{released}" stability="stable">
      <manifest-digest />
      <archive href="https://github.com/gitextensions/gitextensions/releases/download/v{version-tag}/GitExtensions-{version-build}-Setup.msi" type="application/x-msi" extract="SourceDir/GitExtensions" />
    </implementation>
  </group>
</interface>
