<?xml version="1.0" encoding="utf-8"?>
<interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://zero-install.sourceforge.net/2004/injector/interface http://0install.de/schema/injector/interface/interface.xsd http://0install.de/schema/desktop-integration/capabilities http://0install.de/schema/desktop-integration/capabilities/capabilities.xsd" xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <name>Golly</name>
  <summary xml:lang="en">Game of Life simulator</summary>
  <summary xml:lang="de">Spiel des Lebens Simulator</summary>
  <description xml:lang="en">A cross-platform application for exploring Conway's Game of Life and other cellular automata. Features include an unbounded universe, fast generating algorithms, multiple layers, Perl/Python scripting, and a state-of-the-art pattern collection.</description>
  <description xml:lang="de">Eine Plattform-übergreifende Anwendung um Conway's Game of Life (Spiel des Lebens) und andere zelluläre Automaten zu erforschen. Zu den Features gehören ein Universum mit unbeschränkter Größe, schnelle erzeugende Algorithmen, mehrere Ebenden, Perl/Python Scripting und eine hochmoderne Sammlung von Mustern.</description>
  <homepage>http://golly.sourceforge.net/</homepage>
  <icon href="https://raw.githubusercontent.com/0install/0install.de-feeds/master/Golly.png" type="image/png" />
  <icon href="https://raw.githubusercontent.com/0install/0install.de-feeds/master/Golly.ico" type="image/vnd.microsoft.icon" />
  <category>Education</category>
  <feed-for interface="http://0install.de/feeds/Golly.xml" />
  <group license="GPL v2 (GNU General Public License)">
    <implementation arch="Windows-*" version="{version}" released="{released}" stability="stable" main="Golly.exe">
      <manifest-digest />
      <archive href="http://downloads.sourceforge.net/golly/golly-{version}-win.zip" type="application/zip" extract="golly-{version}-win" />
    </implementation>
    <implementation arch="Linux-i586" version="{version}" released="{released}" stability="stable" main="golly">
      <manifest-digest />
      <archive href="http://downloads.sourceforge.net/golly/golly-{version}-gtk.tar.gz" extract="golly-{version}-gtk" />
    </implementation>
    <implementation arch="*-src" version="{version}" released="{released}" stability="stable">
      <manifest-digest />
      <archive href="http://downloads.sourceforge.net/golly/golly-{version}-src.tar.gz" extract="golly-{version}-src" />
    </implementation>
  </group>
</interface>
