<?xml version="1.0"?>
<interface xmlns="http://zero-install.sourceforge.net/2004/injector/interface" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://zero-install.sourceforge.net/2004/injector/interface http://0install.de/schema/injector/interface/interface.xsd http://0install.de/schema/desktop-integration/capabilities http://0install.de/schema/desktop-integration/capabilities/capabilities.xsd">
  <name>OpenCover</name>
  <summary xml:lang="en">A code coverage tool for .NET 2 and above (WINDOWS OS only)</summary>
  <icon href="https://raw.githubusercontent.com/0install/0install.de-feeds/master/OpenCover.ico" type="image/vnd.microsoft.icon"/>
  <icon href="https://raw.githubusercontent.com/0install/0install.de-feeds/master/OpenCover.png" type="image/png"/>
  <homepage>https://github.com/OpenCover/opencover</homepage>
  <category>Development</category>
  <needs-terminal/>
  <group>
    <command name="run" path="OpenCover.Console.exe">
      <runner command="run" interface="http://repo.roscidus.com/dotnet/clr"/>
    </command>
    <implementation version="{version}">
      <archive href="https://github.com/OpenCover/opencover/releases/download/{version}/opencover.{version}.zip" type="application/zip"/>
    </implementation>
  </group>
  <feed-for interface="http://0install.de/feeds/OpenCover.xml"/>
</interface>
