<?xml version="1.0"?>
<interface xmlns="http://zero-install.sourceforge.net/2004/injector/interface" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://zero-install.sourceforge.net/2004/injector/interface http://0install.de/schema/injector/interface/interface.xsd http://0install.de/schema/desktop-integration/capabilities http://0install.de/schema/desktop-integration/capabilities/capabilities.xsd">
  <name>JetBrains PyCharm Community</name>
  <summary>Python IDE for Professional Developers</summary>
  <icon href="https://raw.githubusercontent.com/0install/0install.de-feeds/master/pyCharm.ico" type="image/vnd.microsoft.icon"/>
  <icon href="https://raw.githubusercontent.com/0install/0install.de-feeds/master/pyCharm.png" type="image/png"/>
  <homepage>http://www.jetbrains.com/pycharm/</homepage>
  <category>Development</category>

  <feed-for interface="http://0install.de/feeds/pyCharm-Community.xml"/>

  <group>
    <requires interface="https://apps.0install.net/python/python.xml" importance="recommended">
      <environment name="PATH" insert="."/>
    </requires>

    <implementation arch="Windows-x86_64" main="bin/pycharm64.exe" released="{released}" stability="stable" version="{version}">
      <archive href="https://download.jetbrains.com/python/pycharm-community-{version}.win.zip" type="application/zip"/>
    </implementation>
    <implementation arch="Windows-aarch64" main="bin/pycharm64.exe" released="{released}" stability="stable" version="{version}">
      <archive href="https://download.jetbrains.com/python/pycharm-community-{version}-aarch64.win.zip" type="application/zip"/>
    </implementation>
    <implementation arch="Linux-x86_64" main="bin/pycharm.sh" released="{released}" stability="stable" version="{version}">
      <archive extract="pycharm-community-{version}" href="https://download.jetbrains.com/python/pycharm-community-{version}.tar.gz" type="application/x-compressed-tar"/>
    </implementation>
    <implementation arch="Linux-aarch64" main="bin/pycharm.sh" released="{released}" stability="stable" version="{version}">
      <archive extract="pycharm-community-{version}" href="https://download.jetbrains.com/python/pycharm-community-{version}-aarch64.tar.gz" type="application/x-compressed-tar"/>
    </implementation>
  </group>
</interface>
