<?xml version="1.0" ?>
<interface xmlns="http://zero-install.sourceforge.net/2004/injector/interface" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://zero-install.sourceforge.net/2004/injector/interface http://0install.de/schema/injector/interface/interface.xsd http://0install.de/schema/desktop-integration/capabilities http://0install.de/schema/desktop-integration/capabilities/capabilities.xsd">
  <name>JetBrains Rider</name>
  <summary>A cross-platform .NET IDE based on the IntelliJ platform and ReSharper</summary>
  <icon href="https://raw.githubusercontent.com/0install/0install.de-feeds/master/Rider.ico" type="image/vnd.microsoft.icon"/>
  <icon href="https://raw.githubusercontent.com/0install/0install.de-feeds/master/Rider.png" type="image/png"/>
  <homepage>http://www.jetbrains.com/rider/</homepage>
  <category>Development</category>

  <feed-for interface="http://0install.de/feeds/Rider.xml"/>

  <group>
    <requires interface="https://apps.0install.net/dotnet/sdk.xml" importance="recommended">
      <environment name="DOTNET_ROOT" insert="." mode="replace"/>
      <environment name="PATH" insert="."/>
    </requires>

    <implementation arch="Windows-x86_64" main="bin/rider64.exe" released="{released}" stability="stable" version="{version}">
      <archive href="https://download.jetbrains.com/rider/JetBrains.Rider-{version}.win.zip" type="application/zip"/>
    </implementation>
    <implementation arch="Windows-aarch64" main="bin/rider64.exe" released="{released}" stability="stable" version="{version}">
      <archive href="https://download.jetbrains.com/rider/JetBrains.Rider-{version}-aarch64.win.zip" type="application/zip"/>
    </implementation>
    <implementation arch="Linux-x86_64" main="bin/rider.sh" released="{released}" stability="stable" version="{version}">
      <archive extract="JetBrains Rider-{version}" href="https://download.jetbrains.com/rider/JetBrains.Rider-{version}.tar.gz" type="application/x-compressed-tar"/>
    </implementation>
    <implementation arch="Linux-aarch64" main="bin/rider.sh" released="{released}" stability="stable" version="{version}">
      <archive extract="JetBrains Rider-{version}" href="https://download.jetbrains.com/rider/JetBrains.Rider-{version}-aarch64.tar.gz" type="application/x-compressed-tar"/>
    </implementation>
  </group>
</interface>
