<?xml version="1.0" encoding="utf-8"?>
<interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://zero-install.sourceforge.net/2004/injector/interface http://0install.de/schema/injector/interface/interface.xsd http://0install.de/schema/desktop-integration/capabilities http://0install.de/schema/desktop-integration/capabilities/capabilities.xsd" xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <name>ScummVM</name>
  <summary xml:lang="en">cross-platform interpreter for several point-and-click adventure engines</summary>
  <summary xml:lang="de">Plattform-übergreifender Interpreter für mehrere Point-and-Click Adventure Engines</summary>
  <description xml:lang="en">ScummVM is a cross-platform interpreter for several point-and-click adventure engines. This includes all SCUMM-based adventures by LucasArts, Simon the Sorcerer 1 and 2 by AdventureSoft, Beneath a Steel Sky and Broken Sword 1 and 2 by Revolution, and many more.</description>
  <description xml:lang="de">ScummVM ist ein Plattform-übergreifender Interpreter für mehrere Point-and-Click Adventure Engines. Dies beinhaltet alle SCUMM-basierten Adventures von LucasArts, Simon the Sorcerer 1 und 2 von AdventureSoft, Beneath a Steel Sky und Broken Sword 1 und 2 von Revolution und viele mehr.</description>
  <homepage>http://www.scummvm.org/</homepage>
  <icon href="http://0install.de/feeds/images/ScummVM.png" type="image/png" />
  <feed-for interface="http://0install.de/feeds/ScummVM.xml" />
  <group license="GPL v2 (GNU General Public License)">
    <implementation arch="Windows-i486" version="{version}" released="{released}" stability="stable" main="scummvm.exe">
      <manifest-digest />
      <archive href="http://downloads.sourceforge.net/scummvm/scummvm/{version}/scummvm-{version}-win32.zip" type="application/zip" />
    </implementation>
    <implementation arch="*-src" version="{version}" released="{released}" stability="stable">
      <manifest-digest />
      <archive href="http://downloads.sourceforge.net/scummvm/scummvm/{version}/scummvm-{version}.tar.bz2" extract="scummvm-{version}" />
    </implementation>
  </group>
</interface>
